@font-face {
    font-family: tahoma;
    src: url(font/Tahoma/tahoma.ttf);
}

@font-face {
    font-family: yekan;
    src: url(font/Yekan/Yekan.ttf);
}

body {
    font-family: "yekan", sans-serif;
    min-height: 100vh;
    text-align: right;
    direction: rtl;
}


/* <------------------------------------------------------Login-----------------------------------------------------------> */

.brand-wrapper {
    margin-bottom: 19px;
}

.brand-wrapper .logo {
    height: 35px;
}

.login-page-card {
    border: 0;
    border-radius: 30px;
    box-shadow: 0 15px 35px 0 rgba(94, 89, 89, 0.6);
    overflow: hidden;
}

.login-page-card-img {
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.login-page-card .card-body {
    padding: 85px 60px 60px;
}

@media (max-width: 422px) {
    .login-page-card .card-body {
        padding: 35px 24px;
    }
}

.login-page-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-page-card form {
    max-width: 350px;
}

.login-page-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 45px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
    border-radius: 10px;
    position: right;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e8a405;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(232, 164, 5, .45)
}

.login-page-card .form-control::-webkit-input-placeholder {
    color: #767d83;
}

.login-page-card .form-control::-moz-placeholder {
    color: #767d83;
}

.login-page-card .form-control:-ms-input-placeholder {
    color: #767d83;
}

.login-page-card .form-control::-ms-input-placeholder {
    color: #767d83;
}

.login-page-card .form-control::placeholder {
    color: #767d83;
}

.login-page-card .login-page-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.login-page-card .login-page-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.login-page-card .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}

.login-page-card-footer-text {
    font-size: 16px;
    color: #111;
    margin-top: 10px;
    margin-bottom: 60px;
}

@media (max-width: 767px) {
    .login-page-card-footer-text {
        margin-bottom: 24px;
    }
}

.login-page-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}

.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 14px;
    pointer-events: none;
}

.left-addon .fa {
    left: 10px;
}

.right-addon .fa {
    right: 10px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/* <---------------------------------------------------------------forget-password------------------------------------------------------> */

.align-item-center-authentication {
    /* -ms-flex-align: center !important; */
    align-items: center;
}

.container-authentication {
    max-width: 600px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    align-items: center;
}

.login-page-card-authentication {
    border: 0;
    border-radius: 30px;
    box-shadow: 0 5px 25px 0 rgba(94, 89, 89, 0.6);
    overflow: hidden;
}

.login-page-card-authentication .card-body {
    padding: 50px;
}

@media (max-width: 422px) {
    .login-page-card-authentication .card-body {
        padding: 35px 24px;
    }
}

.login-page-card-authentication form {
    max-width: 450px;
}

.login-page-card-authentication .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 45px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
    border-radius: 10px;
    position: right;
}

.login-page-card-authentication .form-control::-webkit-input-placeholder {
    color: #767d83;
}

.login-page-card-authentication .form-control::-moz-placeholder {
    color: #767d83;
}

.login-page-card-authentication .form-control:-ms-input-placeholder {
    color: #767d83;
}

.login-page-card-authentication .form-control::-ms-input-placeholder {
    color: #767d83;
}

.login-page-card-authentication .form-control::placeholder {
    color: #767d83;
}

.login-page-card-authentication .login-page-btn {
    padding: 13px 20px 12px;
    background-color: #000;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.login-page-card-authentication .login-page-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.login-page-card-authentication .forgot-password-link {
    font-size: 14px;
    color: #919aa3;
    margin-bottom: 12px;
}